@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");
@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@400;700;800&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');

$press_start: "Press Start 2P", cursive;
$jetbrains: "JetBrains Mono", monospace;
$indie_flower: 'Indie Flower', cursive;